form{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
form div.input-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-content-card input, .form-content-card textarea{
    width: 50%;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    height: 30px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    
}
.form-content-card textarea{
    padding: 1rem;
    height: 200px;
}
.form-content-card input:focus{
    outline-color: #b17cc4;
}
.form-content-card input::placeholder{
    z-index: 2;
    color: #7c7c7c;
}
.form-content-card button[type="submit"]{
    width: 17%;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    height: 40px;
    background-color: #b17cc4;
    border: none;
    border-radius: 8px;
    color: #fff;
    margin-top: 2em;
    cursor: pointer;
    /* margin-left: 20vw; */
}
.form-content-card button[data-carousel-button="finish"]{
    margin-left: 22vw;
}
.form-content-card button[type="submit"]:hover{
    background-color: #a16bb5;
}
.add-tag-btn, .removeTagButton{
    width: 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    height: 30px;
    background-color: #b17cc4;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    /* margin-left: 20vw; */
}
.added-tags{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 10px;
}
.error, .radio-error{
    color: red;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    width: 60%;
}
.added-tags span{
    background-color: #cecece;
    color: #000;
    padding: 0.5rem;
    border-radius: 8px;
}