*{
    box-sizing: border-box;
}

body{
    background: #fff;
}
html{
  scroll-behavior: smooth;
}
.login{
    position: absolute;
    background: rgb(3, 3, 94);
    ;
    top: 30%;
    left: 40%;
    width: 400px;
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
}

.login h2{
    margin: 0 0 30px;
    color: #fff;
    text-decoration: underline;
    text-align: center;
}

.login label{
    text-transform: capitalize;
    color: #fff;
}

.input input{
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

 .btn input{
    margin: auto;
    padding: 10px 20px;
    color: #8f7cec;
    background-color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 1s;
    margin: auto;
    border: 1px solid #8f7cec;
    border-radius: 5px;
}

.btn:hover{
    background: #8f7cec;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #cbbddb;
    
}

.register{
    font-size: 14px;
    text-decoration: none;
    color: #8f7cec;
    margin: auto;
    width: 60%;
    text-align: center;
}

.register a{
    text-decoration: none;
    margin: auto;
    color: #aba0e2;
}

.mode {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .mode button {
    background-color: black;
    color: #fff;
    text-transform: capitalize;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .mode button:hover {
    background-color: #fff;
    color: black;
  }
  
  .dark {
    background-color: black;
    color: #fff;
  }

  .light {
    background-color: #fff;
    color: black;
  }

@media (max-width: 768px) {
    .navbar-collapse {
      display: none !important;
    }
    .navbar-nav li a {
      display: block !important;
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .sidebar {
      display: none !important;
    }
  }
