 .title {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
  
  /* Set global styles for the ticket widget */
  .ticket-widget {
  display: inline-block;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 30%;
  cursor: pointer;
  
  }

  .ticket-widget:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
  }
  
  /* Style the header section */
  .ticket-header {
  padding: 20px;
  background-color: #e7e5e5;
  }

.ticket-img{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

  .ticket-img img{
    height: 100%;
    width: 100%;
  }

  .ticket-img p{
    padding: 50px 20px;
  }
  .ticket-img p span {
    font-weight: 600;
  }
  
  /* Style the concert image */
  .ticket-image {
  width: 100%;
  height: auto;
  }
  
  /* Style the details section */
  .ticket-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  }
  
  /* Style the band name */
  .ticket-band-name {
  margin: 0;
  }
  
  /* Style the tour name */
  .ticket-tour-name {
  margin: 5px;
  font-weight: normal;
  }
  
  /* Style the event details and price details sections */
  .ticket-event-details,
  .ticket-price-details {
  flex-basis: 50%;
  text-align: center;
  }

  .ticket-event-details span {
    font-weight: 600;
  }
  
  /* Style the price label */
  .ticket-price-label {
  margin: 0;
  font-weight: bold;
  }
  
  /* Style the price cost */
  .ticket-price-cost {
  margin: 5px 0 0;
  font-weight: bold;
  font-size: 1.2rem;
  }